# Python 
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Distribution / Build
dist/
build/
*.egg-info/

# Unit Testing
.pytest_cache/
.coverage
htmlcov/

# Deep Learning
data/               
models/*.pth        
models/*.npy        
outputs/            

# OS spécifiques
.DS_Store
Thumbs.db

brouillon.ipynb