# Python 
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Unit Testing
.pytest_cache/
.coverage
htmlcov/

# Deep Learning
data/               
models/*.pth        
models/*.npy        
outputs/            
weights/

# OS spécifiques
.DS_Store
Thumbs.db

brouillon.ipynb
.vscode/